.color-standard-blue {
    color: #6a9dcb;
}

.color-lighter-blue {
    color: #73a7e7;
}

.color-highlight-purple {
    color: #3a58af;
}

.color-ok-green {
    color: #b9e7c6;
}

.color-alert-red {
    color: #ffbcbe;
}