.config-editor {
    width: 80%;
    margin: 0 auto;
    padding-top: .8em;
}

.config-editor .mui-textfield > input, .mui-textfield > textarea {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    background-color: #eee;
}

.save-config {
    display: flex;
    align-items: center;
    justify-content: center;
}

.git-checkbox{
    padding-right: 1em;
}