.app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
}

.filter-input {
    margin: 0;
    padding: 0;
}

.filter-input input {
    width: 400px;
    font-size: 14px;
    background-color: #BBDEFB;
}

.filter-hint {
    margin: 0 0.3em;
    flex-grow: 1;
}

.git-ok {
    background-color: #b9e7c6;
    color: #3a58af;
}

.git-not-up-to-date {
    background-color: #FFFF52;
    color: #3a58af;
}

.git-disconnected {
    background-color: #ffbcbe;
    color: #3a58af;
}

.toggle-page-mode {
    background-color: #B9BECB;
    color: #3a58af;
}
