.git-settings {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

.git-status {
    display: flex;
}

.remote-url-text {
    color: #3a58af;
    margin-left: 1em;
}

.status-green {
    margin-left: 1em;
    background-color: #b9e7c6;
}

.status-red {
    margin-left: 1em;
    background-color: #ffbcbe;
}

.git-notes {
    color: #6a9dcb;
}
