.link-item {

}

.link-url {
    display: inline-block;
    color: #6a9dcb;
}

.link-description {
    color: grey;
    font-style: italic;
    padding-bottom: .5em;
}

.highlighted {
    border: 1px dashed #6a9dcb;
}

a {
    color: #000;
    padding: 1px;
}

.quick-access{
    display: inline-block;
    color: #6a9dcb;
    font-weight: bold;
    padding-left: 0.4em;
}